@font-face {
  font-family: "Montserrat";
  src: url("/source/Montserrat-Regular.ttf");
}

/* Header fix */

.header-container {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Safari */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(242, 208, 146);
  opacity: 0.67;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(242, 208, 146, 0.67);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(242, 208, 146, 0.67);
}

/* width */

::-webkit-scrollbar {
  width: 0px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Mouse selection denied*/

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

/* Navigation Menu */

@media all and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Responsive Config */

@media all and (max-width: 1600px) {
  .header-link a {
    font-size: 1.4vw;
  }
  .footer-icon {
    width: 36%;
    margin: 0 32%;
  }

  /* landing */
  .kv-inspire img {
    margin-top: 64px;
  }
  .quote p {
    font-size: 28px;
  }
  .character-reveal #reveal-none {
    width: 78%;
  }
  #characterInfo .right-side p {
    font-size: 22px;
    line-height: 36px;
  }

  /* about-us */
  .ekip-reveal .right-side p {
    font-size: 18px;
  }
  .extra-text,
  .extra-text-1 {
    font-size: 16px;
  }
}

@media all and (max-width: 1366px) {
  .header-link a {
    font-size: 100%;
  }
  .footer-icon {
    width: 40%;
    margin: 0 30%;
  }
  .display-1 {
    font-size: 42px;
  }
  /* landing */
  .inspire {
    padding-top: 36px;
  }
  .quote p {
    font-size: 26px;
  }
  #characterInfo .right-side p {
    font-size: 19px;
    line-height: 36px;
  }

  /* about-us */
  .ekip-reveal .right-side p {
    font-size: 17.3px;
  }
  .ekip-reveal .right-side {
    margin-right: 0;
  }
  .image video {
    height: 540px;
  }
  .about-project-2 .image img {
    height: 720px;
  }
  .text {
    margin-top: 12px;
  }
  .about-project-3 .image {
    height: 640px;
  }
  .about-project-3 .image img {
    height: 540px;
  }
  .content .about-project-3 {
    height: 2840px;
  }
  .cta-container {
    padding-top: 64px;
  }

  /* about-movie */
  .content-container .image {
    transform: scale(1.2);
  }
}

@media all and (max-width: 1024px) {
  /* Header */
  .header-kv {
    width: 12%;
    transition: 0.1s ease;
    padding: 0;
  }
  .header-link {
    width: 88%;
  }
  .header-link a {
    width: 100%;
    transition: none;
  }
  .background-teaser {
    height: 720px;
  }
  .background-teaser img {
    height: 720px;
  }
  .kv-inspire img {
    transform: scale(1.3);
  }
  .quote p {
    font-size: 19px;
  }
  .introdution .surface-introduction {
    width: 40vw;
    height: 240px;
    left: 10vw;
    top: 180px;
  }
  .surface-introduction .text {
    width: 100%;
    height: 180px;
    overflow: auto;
    color: #f2d092;
  }
  .surface-introduction .text p {
    line-height: 18px;
    font-weight: 450;
    font-size: 16px;
    transition: 0.5s ease;
  }
  .surface-introduction .button a {
    margin: 2vw 0 0 0;
    height: 5vw;
    width: 12vw;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 10vw;
    transition: 0.3s ease;
  }
  .footer-icon {
    width: 50%;
    margin: 0 25%;
  }
  .character-reveal .right-side {
    line-height: 10px;
  }

  /* about-us */
  .title {
    right: 10%;
  }
  .about-meet .title {
    margin-left: 260px;
  }
  .about-real .title {
    margin-left: 540px;
  }
  .title a {
    font-size: 27px;
    margin-right: 0;
    width: 240px;
  }
  .about-real .title a {
    width: 200px;
  }
  .content .content-container {
      height: 720px;
  }
  .image img {
    height: 540px;
    margin-top: 0;
  }
  .ekip-preview {
    margin-top: 64px;
  }
  .ekip-reveal {
    flex-direction: column;
  }
  .ekip-reveal .left-side img {
    width: 80%;
    float: left;
  }
  .ekip-reveal .left-side { 
    margin-bottom: 0;
    height: auto;
  }
  .ekip-reveal .right-side {
    width: 90%;
    float: left;
    padding-left: 60px;
  }
  .ekip-reveal .right-side p {
    line-height: 28px;
    height: 120px;
    overflow: auto;
  }

  .content-container .image img {
    width: 720px;
    height: auto;
    margin-top: 60px;
  }

}

/* Surface Duo */
/*
@media all and (max-width: 540px) {
  body {
    width: 540px;
    float: none;
  }
  header {
    width: 540px;
  }
  .landing-page {
    width: 540px;
  }
  footer {
    width: 540px;
    font-size: medium;
  }
} */

/* Iphone 6,7,8 plus */

@media only screen and (max-width: 414px) {
  body {
    width: 414px;
    float: none;
  }
  header {
    width: 414px;
  }
  .landing-page {
    width: 414px;
  }
  footer {
    width: 414px;
    font-size: smaller;
  }
  /* landing */
  .introdution .surface-introduction {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .introdution .surface-introduction {
    height: 360px;
  }
  .surface-introduction .text h1 {
    font-size: 28px;
    text-align: center;
  }
  .surface-introduction .text p {
    margin-top: 48px;
    width: 60%;
  }
  .surface-introduction .text {
    height: 240px;
  }
  .surface-introduction .button {
    margin-top: 24px;
  }
  .surface-introduction .button a {
    width: 160px;
    height: 54px;
    font-size: 18px;
  }
}

/* Iphone 6,7,8 */

@media only screen and (max-width: 375px) {
  body {
    width: 375px;
    float: none;
  }
  header {
    width: 375px;
  }
  .landing-page {
    width: 375px;
  }
  footer {
    width: 375px;
    font-size: x-small;
  }
}

/* Samsung Galaxy S5 */

@media only screen and (max-width: 360px) {
  body {
    width: 360px;
    float: none;
  }
  header {
    width: 360px;
  }
  .landing-page {
    width: 360px;
  }
  footer {
    width: 360px;
    font-size: x-small;
  }
}

/* thay đt hộ em */

@media only screen and (max-width: 320px) {
  body {
    width: 320px;
    float: none;
  }
  header {
    width: 320px;
  }
  .landing-page {
    width: 320px;
  }
  footer {
    width: 320px;
    font-size: x-small;
  }
}
