::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(242, 208, 146);
  opacity: 0.67; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(242, 208, 146, 0.67);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(242, 208, 146, 0.67);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
/* Mouse selection denied*/
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Responsive Config */

@media all and (max-width: 980px) {
  .introdution .text p {
    font-size: 1.5vw;
    line-height: 1.8vw;
  }
}
