a:hover {
  cursor: pointer;
}

/* Loader animate */

.loader {
  top: 21vw;
  left: 48vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vw solid rgba(242, 208, 146, 1);
  border-radius: 50%;
  border-top: 1vw solid rgba(18, 61, 61, 1);
  width: 4vw;
  height: 4vw;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  transform-origin: 50% 50%;
  transition: 0.3s ease;
}

.loader:hover {
  width: 6vw;
  height: 6vw;
  top: 20vw;
  left: 47vw;
  filter: brightness(120%) drop-shadow(0 0 5px rgba(0, 0, 0, 0.67));
  transition: 0.5s ease;
}

/* Alert */

.swal-title {
  font-family: Montserrat;
  margin: 0px;
  font-size: 36px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-text {
  font-family: Montserrat;
  padding: 17px;
  display: block;
  margin: 22px;
  font-size: 24px;
  text-align: center;
  color: #61534e;
}

.swal-button {
  font-family: Montserrat;
  text-align: center;
  font-size: 24px;
  background-color: rgba(242, 208, 146, 1);
  color: rgba(18, 61, 61, 1);
}

/* Handle on hover scrollbar */

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.5s ease;
}

.header-kv img:hover {
  cursor: pointer;
  transition: 0.4s ease;
  transition-delay: 0.1s;
  filter: drop-shadow(3px 3px 10px black) brightness(120%);
  margin: 0 0 0 20px;
}

.header-kv img:active {
  filter: drop-shadow(none);
  filter: brightness(99%);
  transition: 0.3s ease;
  margin: 1px 0 0 20px;
}

.header-menu img:hover {
  cursor: pointer;
  filter: brightness(110%) drop-shadow(0 0 5px #000);
  top: -2px;
  transition: 0.3s ease;
}

.header-link a:hover {
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(242, 208, 146, 1);
  padding-top: 20px;
  transition: 0.3s ease;
}

.header-link a:active {
  text-shadow: none;
  color: rgba(242, 208, 146, 1);
  padding-top: 24px;
  transition: 0.2s;
}

#showMore:hover,
#showLess:hover {
  filter: brightness(110%) drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  text-decoration: underline;
}

.introdution .button a:hover {
  margin-top: -6px;
  transition: 0.3s;
  filter: brightness(110%) drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
}

.introdution .button a:active {
  margin-top: 1.4vw;
}

.characters-preview img:hover {
  filter: brightness(125%);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  border: none;
}

.characters-preview img:active {
  transform: scale(1);
  transition: 0.1s;
}

.nothing a:hover {
  filter: brightness(120%);
}

/*effect-underline*/

a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.2em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.iframe-container .button:hover {
  margin-top: 0;
  transition: 0.3s;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.67));
  cursor: pointer;
}

.iframe-container .button:active {
  margin-top: 4px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.67));
}

/* About Us */

.about-us .title a:hover {
  margin-top: -2px;
  filter: brightness(125%);
  text-shadow: 0 0 10px #f2d092;
  transition: 0.3s;
}

.about-us .title a:hover:after {
  content: "";
  display: flex;
  width: 270px;
  height: 5px;
  margin-right: -100%;
  border-bottom: 5px solid rgba(242, 208, 146, 1);
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.ekip-preview img:hover {
  filter: brightness(125%) drop-shadow(0 6px 6px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  border: none;
}

.ekip-preview img:active {
  transform: scale(1);
  filter: brightness(100%);
  transition: 0.2s;
}

.chat-with-us img:hover {
  animation: shake 0.5s;
  transition: transform 0.5s ease;
  transition-delay: 0.5s;
  transform: translate(-15px, -10px) scale(1.5);
}

#btnMute:hover {
  cursor: pointer;
  color: #f2d092;
  background-color: rgba(18, 61, 61, 1);
  transition: 0.5s;
}

.cta-container a:hover {
  margin-top: -2px;
  filter: brightness(1.1);
  text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 6px rgba(242, 208, 146, 1);
}

/* About Movie */

.about-movie .title a:hover {
  margin-top: -2px;
  filter: brightness(125%);
  text-shadow: 0 0 10px #f2d092;
  transition: 0.3s;
}

.about-movie .title a:hover:after {
  content: "";
  display: flex;
  width: 270px;
  height: 5px;
  margin-right: -100%;
  border-bottom: 5px solid rgba(242, 208, 146, 1);
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Toggle this class - hide and show the popup */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

/* Glowing */

.glowing {
  -webkit-animation: glowing 0.5s ease-in-out infinite alternate;
  -moz-animation: glowing 0.5s ease-in-out infinite alternate;
  animation: glowing 0.5s ease-in-out infinite alternate;
}

.no-hover {
  pointer-events: none;
}

/* Keyframes */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Add animation (fade in/out the popup) */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* Safari */
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  /* Safari */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* Safari */
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #f2d092, 0 0 8px #f2d092,
      0 0 10px #f2d092, 0 0 12px #f2d092, 0 0 14px #f2d092;
  }
  100% {
    text-shadow: 0 0 4px #fff, 0 0 6px #ffdea2, 0 0 8px #ffdea2,
      0 0 10px #ffdea2, 0 0 12px #ffdea2, 0 0 14px #ffdea2, 0 0 16px #ffdea2;
  }
}

@-webkit-keyframes glowing {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #f2d092, 0 0 8px #f2d092,
      0 0 10px #f2d092, 0 0 12px #f2d092, 0 0 14px #f2d092;
  }
  100% {
    text-shadow: 0 0 4px #fff, 0 0 6px #ffdea2, 0 0 8px #ffdea2,
      0 0 10px #ffdea2, 0 0 12px #ffdea2, 0 0 14px #ffdea2, 0 0 16px #ffdea2;
  }
}

/* Animista Area */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */

.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-bl
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
