@charset "utf-8";
.header-link div:nth-of-type(2) a {
    font-weight: 1000;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 6px rgba(242, 208, 146, 1);
}

h2 {
    color: rgba(242, 208, 146, 1);
}


/*
p {
    word-wrap: break-word;
    white-space:pre-wrap;
}
*/

a {
    text-decoration: none;
}

.title {
    width: 300px;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
}

.title a {
    color: rgba(242, 208, 146, 1);
    width: 280px;
    height: 60px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    transition: .2s;
    text-transform: uppercase;
}


/* .about-movie::First-part */

.about-curse {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 10%;
    right: 10%;
    top: 160px;
}

.about-curse .content {
    width: 100%;
    position: relative;
}

.content .content-container {
    width: 100%;
    float: left;
    height: 900px;
}

.text p {
    width: 100%;
    line-height: 32px;
    font-size: 20px;
    text-align: justify;
}

/* .about-movie::Second-part */

.about-meet {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 10%;
    right: 10%;
    top: 160px;
}

.about-meet .title {
    margin-left: 320px;
}

/* .about-movie::Third-part */

.about-real {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 10%;
    right: 10%;
    top: 160px;
}

.about-real .title {
    margin-left: 660px;
}

/* all */
.about-all {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 10%;
    right: 10%;
    top: 120px;
}

.image {
    width: 100%;
    float: left;
    height: auto;
    display: flex;
    justify-content: center;
}

.image img {
    margin-top: 50px;
    width: 60vw;
}

footer {
    top: 1200px;
}

footer h2 {
    color: #000;
}