@charset "utf-8";

/* .landing-page::First-part */
.landing-page {
    width: 100%;
    float: left;
    position: absolute;
}
.introdution {
    width: 100%;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-teaser video {
    width: 100%;
    float: left;
    position: relative;
    z-index: 0;
    transition: 0.3s ease;
    filter: brightness(0.6);
}
.introdution .surface-introduction {
    position: absolute;
    width: 36vw;
    height: 18vw;
    left: 10vw;
    top: 18vw;
}
.surface-introduction .text {
    width: 100%;
    height: 14vw;
    color: #F2D092;
    overflow: auto;
}
.surface-introduction .text p {
    text-align: justify;
    font-style: normal;
    line-height: 1.6vw;
    font-weight: 450;
    font-size: 1vw;
    text-indent: 1.5vw;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
}
.surface-introduction .button {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
}
.surface-introduction .button a {
    margin: 1.4vw 0 0 0;
    height: 3vw;
    width: 8.8vw;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    border-radius: 10vw;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
    transition: .3s ease;
}
.surface-introduction .button a:first-of-type {
    font-weight: 600;
    background-color: rgba(242, 208, 146, 1);
    color: rgba(18, 61, 61, 1);
    margin-right: 12%;
}
.surface-introduction .button a:last-of-type {
    font-weight: 500;
    background-color: rgba(18, 61, 61, 1);
    color: rgba(242, 208, 146, 1);
}

/* .landing-page::Second-part */
.characters {
    width: 100%;
    float: left;
    position: relative;
    height: 1080px;
}
.character-information {
    width: 80%;
    float: left;
    height: 640px;
}
.characters-preview {
    width: 1920px;
    float: left;
}
.characters-preview .first-area, .second-area {
    width: 640px;
    height: 160px;
    margin: 0 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-area div {
    width: 160px;
    float: left;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.second-area div {
    width: 160px;
    float: left;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.characters-preview img {
    width: 90%;
    border-radius: 5px;
    transition: .2s;
}

/* .landing-page::Third-part */
.awards {
    width: 100%;
    float: left;
    height: 960px;
    position: relative;
}
.awards div {
    width: 80%;
    display: inline-block;
    align-items: center;
    margin-left: 10%;
}
.awards h1 {
    text-transform: uppercase;
}
.awards p {
    width: 50%;
    font-size: 1vw;
}
.awards .awards-image {
    margin-top: 20px;
}
.awards-image div {
    width: 30%;
    float: left;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.awards-image div:nth-of-type(2) {
    margin: 0 5%;
}
.awards-image div img {
    width: 100%;
}
.awards .bruh-line {
    width: 100px;
    height: 5px;
    margin: 0;
    background-color: #F2D092;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popup-text {
    visibility: hidden;
    width: 160px;
    height: 20px;
    background-color: rgba(242, 208, 146, 1);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
    margin-top: -50px;
}
  
/* Popup arrow */
.popup .popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #F2D092 transparent transparent transparent;
}

/* .count-down::Independent-part 
.count-down {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-family: Montserrat;
    color: rgba(242, 208, 146, 1);
    font-size: 8vw;
    margin: 700px 0 0 0;
    filter: drop-shadow(0px 5px 10px black);
    border: #ffffff;
}
*/

/* Footer */
footer {
    top: 3000px;
}