@charset "utf-8";

/* .landing-page::First-part */

.landing-page {
  width: 100%;
  float: left;
  position: absolute;
  z-index: 0;
  height: 2820px;
}

.introdution {
  width: 100%;
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-teaser {
  width: 100%;
  float: left;
  height: 900px;
  position: relative;
  z-index: 0;
  background-color: rgba(18, 61, 61, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-teaser img {
  width: 1920px;
  height: auto;
  filter: brightness(60%);
}

.introdution .surface-introduction {
  position: absolute;
  width: 36vw;
  height: 18vw;
  left: 10vw;
  top: 18vw;
}

.surface-introduction .text {
  width: 100%;
  height: 200px;
  color: #f2d092;
  overflow: auto;
}

.surface-introduction h1 {
  text-transform: uppercase;
  position: sticky;
  z-index: 10;
}

.surface-introduction .text p {
  text-align: justify;
  font-style: normal;
  line-height: 32px;
  font-weight: 450;
  font-size: 20px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
}

.surface-introduction .button {
  width: 100%;
  float: left;
  display: flex;
  justify-content: flex-start;
}

.surface-introduction .button a {
  height: 60px;
  width: 160px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10vw;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  transition: 0.3s ease;
}

.surface-introduction .button a:first-of-type {
  font-weight: 900;
  background-color: rgba(242, 208, 146, 1);
  color: rgba(18, 61, 61, 1);
  margin-right: 60px;
}

.surface-introduction .button a:last-of-type {
  font-weight: 600;
  background-color: rgba(18, 61, 61, 1);
  color: rgba(242, 208, 146, 1);
}

/* .landing-page::Second-part */

.inspire {
  height: 640px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspire .kv-inspire {
  width: 40%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inspire .kv-inspire img {
  width: 66%;
  float: left;
  margin-top: -64px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

.inspire .text-inspire {
  width: 40%;
  float: left;
  height: 480px;
}
.text-inspire h1 {
  margin-top: 0;
}

.text-inspire p {
  font-size: large;
  line-height: 32px;
  font-size: 18px;
  height: 380px;
}

/* .landing-page::Third-part */

.quote {
  width: 100%;
  height: auto;
  float: left;
}

.quote img {
  width: 100%;
  filter: brightness(60%);
}

.quote p {
  width: 48%;
  float: left;
  margin-left: 42%;
  position: absolute;
  text-align: right;
  font-size: 36px;
  font-style: italic;
  z-index: 10;
  top: auto;
  margin-top: 72px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.67));
}

/* .landing-page::Fourth-part */

.characters {
  width: 100%;
  float: left;
  position: relative;
  height: 1080px;
}

.character-reveal {
  width: 80%;
  margin-left: 10%;
  margin-top: 96px;
  margin-bottom: 36px;
  float: left;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-reveal #reveal-none {
  width: 66%;
  text-align: center;
}

.left-side {
  width: 25%;
  height: 480px;
  float: left;
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img {
  width: 90%;
}

.right-side {
  width: 65%;
  float: left;
  margin-left: 2%;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-side h2 {
  color: #f2d092;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bolder;
}

.right-side p {
  text-align: justify;
  line-height: 42px;
  font-size: 18px;
}

.characters-preview {
  width: 80%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
}

.characters-preview .first-area,
.second-area {
  width: 80%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.first-area div {
  width: 160px;
  height: auto;
  float: left;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.second-area div {
  width: 160px;
  height: auto;
  float: left;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.characters-preview img {
  width: 90%;
  border-radius: 5px;
  transition: 0.2s;
}

/* .landing-page::Third-part */

.awards {
  width: 100%;
  float: left;
  height: 780px;
  position: relative;
}

.awards div {
  width: 80%;
  display: inline-block;
  align-items: center;
  margin-left: 10%;
}

.awards h1 {
  text-transform: uppercase;
}

.awards p {
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}
.awards-overview p {
  text-align: justify;
}
.awards .awards-image {
  margin-top: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards-image div {
  width: 30%;
  float: left;
  margin: 0;
}

.awards-image div:nth-of-type(2) {
  margin: 0 16%;
}

.awards-image div img {
  width: 100%;
}

.awards .bruh-line {
  width: 100px;
  height: 5px;
  margin: 0;
  background-color: #f2d092;
}

.awards-describe {
  text-align: justify;
}

.background-audio {
  width: 100%;
  height: 162px;
  position: fixed;
  z-index: 3;
}

#btnMute {
  float: right;
  top: 68vh;
  margin-right: 10px;
  width: 54px;
  height: 54px;
  border-radius: 12px;
  background-color: #f2d092;
  position: relative;
  z-index: 10;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.67));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: rgba(18, 61, 61, 1);
}

#btnMute i {
  font-size: 36px;
}

/* Footer */

footer {
  top: 4400px;
}
